@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
  font-family: "Bebas Neue", sans-serif;
  background-color:blanchedalmond;
}


/* This is a CSS COMMENT */

/* Select elements by TYPE */
p{
  color: rgb(106, 22, 97);
}

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  color: violet;
}
h1 {
  text-align: center;
  padding: 10px;
  margin: 3%;


}

/* Select elements by Class Name */
.border {
  border: 2px solid black;
}

/* Select unique element by ID NAME */
#intro {
  background-color: aquamarine;
}
/* Properties: colors and typography */
strong {
  color:darkblue; 
  background-color:aquamarine;
  font-family: impact;
  font-weight:100;
  font-style:italic;
  font-size: 25px;

}
/* Box Model: margin, border, padding, content */
img {
  border-width: 7px;
  border-style: inset;
  border-color:rgb(220, 27, 146);
  border-radius: 50%;
  padding: 5px;
}

/* TIP: How to center anything */
.Centered {
margin: auto;
text-align: center;
}